{
    "presets": ["env","react","es2015"],
    "plugins": ["transform-async-to-generator","babel-plugin-transform-object-rest-spread",
        ["transform-runtime", {
              "polyfill": false,
              "regenerator": true
            }]
        ]
}